:host {
  padding: 5px;
}

.item {
  &-wrapper {
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgb(46,70,82);
    background-color: rgba(46,70,82, 0.2);
  }

  &-image {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-date {
    color: rgb(46,70,82);
    font-weight: bolder;
    font-size: 18px;
  }
}
