.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10%;
}

.empty {
  color: rgb(223,211,199);
  font-size: 28px;
  font-weight: bold;
  p {
    text-align: center;
    margin: 20px 0;
  }
  a {
    color: rgb(86,141,138);
  }
}
